@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    --padding: 10px;
    --bg: rgb(29, 29, 29);
    --bg2: rgb(43, 41, 43);
    --fg: rgb(211, 180, 95);
    --accent: orange;
    --accent-5: rgba(255, 166, 0, .5);
}

html.light {
    --bg: rgb(248, 201, 131);
    --bg2: rgb(252, 134, 0);
    --fg: rgb(21, 22, 22);
    --accent: rgb(255, 60, 0);
    --accent-5: rgba(255, 94, 0, 0.5);
}

.panel {
    background-color: var(--bg2);
}

body {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 40px 1fr 60px;

    gap: var(--padding);

    min-height: 100vh;
    margin: 0;

    background-color: var(--bg);
    color: var(--fg);

    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav {
    grid-row: 1;
    grid-column: 1 / 4;
}

.nav-list {
    display: flex;
    gap: var(--padding);
    height: 100%;
    align-items: stretch;
}

.nav-item:hover, .side-nav-item:hover {
    background-color: var(--accent-5);
}

.nav-item, .side-nav-item {
    display: flex;
    align-items: center;
    padding: var(--padding);
    transition: background-color 200ms ease-in-out;
}

#side-nav {
    grid-row: 2;
    grid-column: 3;
    padding: var(--padding);
    margin-right: var(--padding);
}

@media screen and (max-width: 500px) {
    #side-nav {
        margin: 0;
    }
}

#content {
    grid-row: 2;
    grid-column: 2;
    padding: calc(var(--padding) * 3);
    transition: padding 200ms ease-in-out;
}

#content > h1 {
    margin-top: 0;
}

#content > article {
    text-align: justify;
}

@media screen and (max-width: 500px) {
    #content {
        padding: var(--padding);
    }
}

#footer {
    color: rgb(126, 109, 13);
    grid-row: 3;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-evenly;
    padding: var(--padding);
}

#theme-swap {
    position: fixed;
    bottom: calc(var(--padding) * 2);
    right: calc(var(--padding) * 2);
    padding: var(--padding);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg);
    border-style: none;
}

#theme-swap:hover {
    background-color: var(--accent);
}